/NetWatch by NGDevel.com/obj/x86/Debug/NetWatch_by_NGDevel.com.Admin.resources
/NetWatch by NGDevel.com/obj/x86/Debug/NetWatch_by_NGDevel.com.LogView.resources
/NetWatch by NGDevel.com/obj/x86/Debug/NetWatch_by_NGDevel.com.Monitor.resources
/NetWatch by NGDevel.com/obj/x86/Debug/NetWatch_by_NGDevel.com.Properties.Resources.resources
/NetWatch by NGDevel.com/obj/x86/Debug/NetWatch_by_NGDevel.com.Status.resources
/NetWatch by NGDevel.com/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
/NetWatch by NGDevel.com/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/NetWatch by NGDevel.com/obj/x86/Release/GenerateResource.read.1.tlog
/NetWatch by NGDevel.com/obj/x86/Release/GenerateResource.write.1.tlog
/NetWatch by NGDevel.com/obj/x86/Release/NetWatch by NGDevel.com.csproj.FileListAbsolute.txt
/NetWatch by NGDevel.com/obj/x86/Release/NetWatch.application
/NetWatch by NGDevel.com/obj/x86/Release/NetWatch.exe
/NetWatch by NGDevel.com/obj/x86/Release/NetWatch.exe.manifest
/NetWatch by NGDevel.com/obj/x86/Release/NetWatch_by_NGDevel.com.Admin.resources
/NetWatch by NGDevel.com/obj/x86/Release/NetWatch_by_NGDevel.com.LogView.resources
/NetWatch by NGDevel.com/obj/x86/Release/NetWatch_by_NGDevel.com.Monitor.resources
/NetWatch by NGDevel.com/obj/x86/Release/NetWatch_by_NGDevel.com.Properties.Resources.resources
/NetWatch by NGDevel.com/obj/x86/Release/NetWatch_by_NGDevel.com.Status.resources
