<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NetWatch_by_NGDevel.com.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NetWatch_by_NGDevel.com.Properties.Settings>
            <setting name="threshLow" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="threshMod" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="threshHigh" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="notifyOnConnect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="notifyOnDisconnect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="withwindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="notifyLow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="notifyMod" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="notifyHigh" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="notifyDrop" serializeAs="String">
                <value>True</value>
            </setting>
        </NetWatch_by_NGDevel.com.Properties.Settings>
    </userSettings>
</configuration>